---
layout: page
title: 标签
---

<p class="page-summary">当前共 {{ site.tags | size }} 个标签，可按主题快速回看相关内容。</p>

<div class="tag-cloud">
  {% for tag in site.tags %}
    <a href="#{{ tag[0] | slugify }}">{{ tag[0] }} <span>{{ tag[1].size }}</span></a>
  {% endfor %}
</div>

<div class="tag-sections">
  {% for tag in site.tags %}
    <section id="{{ tag[0] | slugify }}" class="tag-section">
      <h2>{{ tag[0] }}</h2>
      {% for post in tag[1] %}
        <a class="archive-item" href="{{ post.url | prepend: site.baseurl }}">
          <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%Y-%m-%d" }}</time>
          <span>{{ post.title }}</span>
        </a>
      {% endfor %}
    </section>
  {% endfor %}
</div>
